@import './common/mixins';
@import './common/variables';

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.wrap{
    width:100%;
    max-width: 1920px;
    margin: 0 auto;
}

.flexwrap-center{
    @include display-flex;
    @include flex-direction(row);
    @include justify-content(center);
    flex-wrap: wrap;
}

.flexwrap{
    flex-wrap: wrap;
}

.header{
    width:100%;
    height:550px;
    background-image: url(../assets/images/header.jpg);
    background-size: cover;

    p{
        width:100%;
        max-width:1920px;
        height:inherit;
        margin:0 auto;
        padding:140px 150px;
        line-height: 50px;
        background-color: rgba(126, 112, 112, 0.582);
        text-align: center;
        color:white;
        font-family: 'Calligraffitti', cursive, sans-serif;
        font-size: 40px;
    }

    span{
        display:block;
        padding-top:50px;
        font-family: 'Roboto Condensed', Arial, sans-serif;
        color:#ddd;
    }
}



@include desktop1600 {
    .header{
        p{
            font-size: 34px;
        }
    }
}

@include desktop{
    .header{
        height:500px;
        p{
            padding-top:90px;
            font-size: 30px;
        }
    }
}

@include notebook{
    .header{
        p{
            padding:70px 100px;
            font-size:26px;
        }
    }
}

@include tablet{
    .header{
        p{
            padding:70px 100px;
            font-size:26px;
        }
        span{
            padding-top: 30px;
        }
    }
}

@include mobile550{
    .header{
        height:400px;
        p{
            padding-top:20px;
            font-size: 20px;
            line-height: 2em;
        }
        span{
            padding-top:20px;
        }
    }
}


@include mobile{
    .header{
        height: 300px;
        p{
            padding:20px;
            font-size: 16px;
        }
        span{
            padding-top:20px;
        }
    }
}

@include phone{
    .header{
        p{
            font-size: 14px;
        }
    }
}
